.navbar {
  background-color: #272727;
  padding: 10px;
  display: flex;
  gap: 20px;
}
.navbarSec {
  background-color: #272727;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  border-top: 1px solid black;
}
.navbar a {
  color: white;
  text-decoration: none;
}
.navbarSec a {
  color: white;
  text-decoration: none;
}
.user-dropdown {
  position: relative;
  display: inline-block;
}

.user-btn {
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 12px;
  color: #fff;
}

.user-dropdown-content {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;
  background-color: #000;
  min-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
  padding: 10px;
  text-align: left;
  border-radius: 4px;
}

.user-dropdown:hover .user-dropdown-content {
  display: block;
}

.user-dropdown-content p {
  margin: 5px 0;
}

.user-dropdown-content button {
  width: 100%;
  padding: 6px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.user-dropdown-content button:hover {
  background-color: #d32f2f;
}
.dropdown {
  position: relative;
}
.dropbtn {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  cursor: pointer;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.navbar-right{
  margin-left: auto;
}
.loginBtn{
  cursor: pointer;
}
.searchDiv{
  position: relative;
  display: inline-block;
  width: 40%;
  background-color: transparent;
  align-content: center;
}
.searchBar{
border: 0px;
outline: 0 none;
font-size: 17px;
height: 40px;
width: 95%;
background-color: black;
border-radius: 50px;
padding-left: 15px;
}