.login-container {
  width: 300px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}
.login-container h2 {
  margin-bottom: 20px;
}
.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid black;
  background-color: black;
  border-radius: 5px;
  color: white;
}
.login-container button {
  width: 100%;
  padding: 10px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-container .error {
  color: red;
  margin-top: 10px;
}
.modal-content {
  /* background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px); */
  background-color: #272727;
  padding: 20px 40px 20px 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000003b;
  text-align: center;
}
.submitBtn{
  margin: 10px;
}
.signupBtn{
  font-style: oblique;
  color: crimson;
  cursor: pointer;
}