.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  /* background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px); */
  background-color: #272727;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000075;
  text-align: center;
}

.modal-content input {
  width: 100%;
  padding: 10px 0px;
  margin: 8px 0;
  background-color: black;
  color: white;
  border: none;
}

.modal-content button {
  margin: 5px;
  padding: 8px 12px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.heading{
  color: white;
  font-size: x-large;
}

.success {
  color: green;
}

.error {
  color: red;
}
